<% if user_signed_in? %>

 >> <%= link_to "AGENT ACTIVATE", 'activationqueue', method: :post %>_


<% else %>
<p>
	CHESS<br>
	POKER<br>
	FIGHTER COMBAT<BR>
	GUERILLA ENGAGEMENT<BR>
	DESERT WARFARE<BR>
	AIR-TO-GROUND ACTIONS<BR>
	THEATERWIDE TACTICAL WARFARE<BR>
	THEATERWIDE BIOTOXIC AND CHEMICAL WARFARE<BR>
	GLOBAL THERMONUCLEAR WAR<BR>
	<BR>
	>> <%= link_to "ASSASSIN", new_user_session_path %>_<BR>
	
</p>

<% end %>